In [11]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [12]:
flpth = "..\Crimes_Data_Chicago.csv"
chicago_crime = pd.read_csv(flpth)
chicago_crime.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11793475,JC391514,08/13/2019 11:53:00 PM,004XX S DAMEN AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,CTA PLATFORM,True,False,...,27.0,28.0,08B,1163135.0,1897829.0,2019,08/20/2019 04:08:03 PM,41.875287,-87.676497,"(41.875286899, -87.67649739)"
1,11793461,JC391535,08/13/2019 11:51:00 PM,130XX S DREXEL AVE,1477,WEAPONS VIOLATION,RECKLESS FIREARM DISCHARGE,RESIDENTIAL YARD (FRONT/BACK),False,False,...,9.0,54.0,15,1184542.0,1818785.0,2019,08/20/2019 04:08:03 PM,41.657906,-87.600373,"(41.657906256, -87.600373405)"
2,11793529,JC391504,08/13/2019 11:45:00 PM,093XX S VANDERPOEL AVE,0496,BATTERY,AGGRAVATED DOMESTIC BATTERY: KNIFE/CUTTING INST,STREET,False,True,...,19.0,72.0,04B,1166330.0,1842749.0,2019,08/20/2019 04:08:03 PM,41.724073,-87.666336,"(41.724073207, -87.666335879)"
3,11793478,JC391522,08/13/2019 11:36:00 PM,003XX E 79TH ST,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,True,False,...,6.0,44.0,15,1179561.0,1852694.0,2019,08/20/2019 04:08:03 PM,41.751072,-87.617568,"(41.751071939, -87.617568487)"
4,11794213,JC392383,08/13/2019 11:34:00 PM,035XX W ADAMS ST,0820,THEFT,$500 AND UNDER,RESIDENCE,False,True,...,28.0,27.0,06,1152863.0,1898846.0,2019,08/20/2019 04:08:03 PM,41.878287,-87.714185,"(41.87828717, -87.714185338)"

###  Clean DataFrames

In [13]:
# CREATE TABLE CrimesType (Id SERIAL NOT NULL, Type varchar(100), PRIMARY KEY (Id));
CrimesType_df = chicago_crime[['Primary Type']].copy()
# CrimesType_df =CrimesType_df['Primary Type'].unique()
CrimesType_df = CrimesType_df.drop_duplicates().copy()
CrimesType_df = CrimesType_df.rename(columns = {'Primary Type':'type'})
CrimesType_df.head()

                 type
0             BATTERY
1   WEAPONS VIOLATION
4               THEFT
9             ASSAULT
10              ARSON

In [23]:
# CREATE TABLE RegisterCrime (
#     id SERIAL NOT NULL, 
#     id_crime int4 NOT NULL, 
#     id_city int4 NOT NULL, 
#     day int4, 
#     month varchar(10), 
#     year int4, 
#     latitude float4, 
#     longitude float4, PRIMARY KEY (id));
# ALTER TABLE RegisterCrime ADD CONSTRAINT FKRegisterCr539537 FOREIGN KEY (id_city) REFERENCES City (Id);
# ALTER TABLE RegisterCrime ADD CONSTRAINT FKRegisterCr993854 FOREIGN KEY (id_crime) REFERENCES CrimesType (Id);

chicago_crime['day'] = pd.DatetimeIndex(chicago_crime['Date']).day

chicago_crime['month']= pd.DatetimeIndex(chicago_crime['Date']).month

chicago_crime['year']= pd.DatetimeIndex(chicago_crime['Date']).year

chicago_crime.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,day,month,year
0,11793475,JC391514,08/13/2019 11:53:00 PM,004XX S DAMEN AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,CTA PLATFORM,True,False,...,1163135.0,1897829.0,2019,08/20/2019 04:08:03 PM,41.875287,-87.676497,"(41.875286899, -87.67649739)",13,8,2019
1,11793461,JC391535,08/13/2019 11:51:00 PM,130XX S DREXEL AVE,1477,WEAPONS VIOLATION,RECKLESS FIREARM DISCHARGE,RESIDENTIAL YARD (FRONT/BACK),False,False,...,1184542.0,1818785.0,2019,08/20/2019 04:08:03 PM,41.657906,-87.600373,"(41.657906256, -87.600373405)",13,8,2019
2,11793529,JC391504,08/13/2019 11:45:00 PM,093XX S VANDERPOEL AVE,0496,BATTERY,AGGRAVATED DOMESTIC BATTERY: KNIFE/CUTTING INST,STREET,False,True,...,1166330.0,1842749.0,2019,08/20/2019 04:08:03 PM,41.724073,-87.666336,"(41.724073207, -87.666335879)",13,8,2019
3,11793478,JC391522,08/13/2019 11:36:00 PM,003XX E 79TH ST,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,True,False,...,1179561.0,1852694.0,2019,08/20/2019 04:08:03 PM,41.751072,-87.617568,"(41.751071939, -87.617568487)",13,8,2019
4,11794213,JC392383,08/13/2019 11:34:00 PM,035XX W ADAMS ST,0820,THEFT,$500 AND UNDER,RESIDENCE,False,True,...,1152863.0,1898846.0,2019,08/20/2019 04:08:03 PM,41.878287,-87.714185,"(41.87828717, -87.714185338)",13,8,2019

### Connect to Database

In [15]:
rds_connection_string = "postgres:123@localhost:5432/crime_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [16]:
engine.table_names()

['registercrime', 'crimestype', 'census', 'city']

### Use pandas to load csv converted DataFrame into database

In [17]:
CrimesType_df.to_sql(name='crimestype', con=engine, if_exists='append', index=False)

### Confirming Data upload

In [18]:
pd.read_sql_query('select * from crimestype',con =engine).head()

   id               type
0   1            BATTERY
1   2  WEAPONS VIOLATION
2   3              THEFT
3   4            ASSAULT
4   5              ARSON

In [19]:
# CREATE TABLE City (Id SERIAL NOT NULL, Name varchar(50), Country varchar(50), State varchar(50), PRIMARY KEY (Id));

pd.read_sql_query("select * from city",con=engine)

   id     name country     state
0   1  Chicago     USA  Illinois

In [20]:
# CREATE TABLE Census (id SERIAL NOT NULL, id_city int4 NOT NULL, year int4, population float4, PRIMARY KEY (id));
# ALTER TABLE Census ADD CONSTRAINT FKCensus735415 FOREIGN KEY (id_city) REFERENCES City (Id);